body{
    background-image: url("../images/images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#chessboard{
    width: 800px;
    height: 800px;
    border: 1px solid red;
    opacity: .5;
}
.blackbox{
    background-color: black;
    width: 100px;
    height: 100px;
    float: left;
}
.whitebox{
    background-color: white;
    width: 100px;
    height: 100px;
    float: left;
}